body {
    padding: 50px;
    text-align: center;
    background-image: url("../image/toy.jpg");
}

input, button, h2 {
    margin: 15px;
}

form {
    background-color: white;
    margin: auto;
    width: 25%;
    padding: 10px;
}