th {
    position: sticky;
    top: 0;
    box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.4);
}
#toy th {
    color:#fff;
    background-color:#0d6efd;
}
#toy tr:hover {background-color: #ddd;}
#toy {
    position: relative;
}
h3, th {
    text-align: center;
}
body {
    background-image: url("../image/toy3.jpg");
}


table {
  background-color: #ffffff;
}


