<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css"
          rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl"
          crossorigin="anonymous">
    <title>Login: Toys inventory system</title>
</head>
<body>
<hr>
<h1> Welcome to the Toy inventory system!</h1>
<h2> Login</h2>
<form method="post">

        <input type="email" name="email" placeholder="E-mail" required autofocus/>
    <br>
        <input type="password" name="password" placeholder="Password" required />
    <br>
        <button class="btn btn-primary" type="submit" name="login">Login</button>

</form>
</body>
</html>