<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css"
          rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl"
          crossorigin="anonymous">
    <link th:href="@{/css/main.css}" rel="stylesheet" />
    <title>Toys inventory system</title>
</head>
<body>
<form method="post" th:object="${toys}">

<h1> Welcome to the Toy inventory system!</h1>
<h2> Download the data for further processing:</h2>
<button class="btn btn-primary" type="submit" name="action"  value="send_toys">Download inventory toys</button>
    <!--<button class="btn btn-primary" type="submit" name="action"  value="send_boys">Download inventory toys for boys</button>-->
    <button class="btn btn-primary" type="submit" name="action"  value="send_games">Download inventory games</button>
    </form>
</body>
</html>