<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css"
          rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl"
          crossorigin="anonymous">
    <title>Toys inventory system</title>
    <link th:href="@{/css/table.css}" rel="stylesheet" />
</head>
<body>
<h3> Toy Inventory Processing Table</h3>
<hr>
<div class="container" style="overflow-x:auto; height:300px;">
    <table class="table table-bordered table-striped" id="toy">
        <thead>
        <tr>
            <th> Item ID </th>
            <th> Brand </th>
            <th> Name </th>
            <th> Qty Start </th>
            <th> Qty sold </th>
            <th> Qty On Hand </th>
            <th> Unit Price </th>
            <th> Total Sales </th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="tempToys:${toys}">
            <td th:text="${tempToys.id}"></td>
            <td th:text="${tempToys.brand}"></td>
            <td th:text="${tempToys.name}"></td>
            <td th:text="${tempToys.qtyStart}"></td>
            <td th:text="${tempToys.qtySold}"></td>
            <td th:text="${tempToys.qtyOnHand}"></td>
            <td th:text="${tempToys.unitPrice}"></td>
            <td th:text="${tempToys.totalSales}"></td>
        </tr>
        </tbody>
    </table>
</div>
<br/>

<div class="container">
    <table class="table">
        <tr>
            <td>
                <h4>Add new item?</h4>
                <form method="post" action="/toy/add">
                    <input type="text" th:name="category" th:value="${category}" hidden/>
                    <button class="btn btn-primary" type="submit" name="action"  value="add_new_item">Click here</button>
                </form>
            </td>
            <td>
                <h4>Update the existing item</h4>
                <form method="post" action="/toy/update">
                    <input type="text" th:name="category" th:value="${category}" hidden/>
                    <label>Enter the ID of the updated item: </label></br>
                    <input type="number" th:name="id" required>
                    <button class="btn btn-primary" type="submit" name="action"  value="update_item">Update Item</button>
                    <p th:text="${error_update}" style="color:red;"></p>
                </form>
            </td>
            <td>
                <h4>Delete the existing item</h4>
                <form method="post" action="/toy/update">
                    <input type="text" th:name="category" th:value="${category}" hidden/>
                    <label>Enter the ID of the deleted item: </label></br>
                    <input type="number" th:name="id" required>
                    <button class="btn btn-primary" type="submit" name="action"  value="delete_item">Delete Item</button>
                    <p th:text="${error_delete}" style="color:red;"></p>
                </form>
            </td>
            <td>
                <h4>Export a report</h4>
                <form method="get" action="/toy/generate">
                <button class="btn btn-primary" type="submit" name="action"  value="generate_report">Generate Report</button>
                </form>
            </td>
        </tr>
    </table>
</div>

<div class="container">
    <a th:href="@{/toy}" class="btn btn-secondary">Go back to the main page</a>
    <!--<button class="btn btn-secondary" type="submit" name="action"  value="go_back">Go back to the main page</button>-->
</div>

</body>
</html>